{% extends 'base.html' %}
{% load static %}

{% block title %}
Список работников
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-1">
            <table class="table table-sm">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Должность</th>
                    <th scope="col">Отдел</th>
                    <th scope="col">Работает с</th>
                    <th scope="col"></th>
                </tr>
                </thead>

                <tbody>
                {% for employee in page_obj %}
                <tr>
                    <td>{{ employee.first_name}}</td>
                    <td>{{ employee.last_name}}</td>
                    <td>{{ employee.patronymic}}</td>
                    <td>{{ employee.position}}</td>
                    <td>{{ employee.department}}</td>
                    <td>{{ employee.work_start_date}}</td>
                    <td><a href="{{ employee.get_absolute_url }}">Подробнее</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if page_obj.has_other_pages %}
        {% include 'inc/_pagination.html' %}
        {% endif %}

    </div>
</div>
    {% endblock %}